body{
    margin-left: 175px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh 10vh 90vh 10vh;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 4px solid black;
    border-radius: 3px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: white;
    background-color: black;    
    border: 4px solid black;
    border-radius: 3px;
}
aside{
    background-repeat: no-repeat;
    grid-row: 2/5;
    background-image: url(./img/dragon_side.png);
    border: 4px solid black;
    border-radius: 3px;
}
nav{
    background-color: black;
    margin: 5px;
    border: 4px solid black;
    border-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
a{
    margin-top: 10px;
}
u{
    color: white;
}
main{
    background-color: black;
    border: 4px solid black;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: center;
}
main img{
    height: 200px;

}
footer{
    background-color: black;
    border: 4px solid black;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    justify-content: center;
}


